@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 59.8%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/* Logo styling starts */
header {
  width: 100%;
  height: 50px; 
  position: absolute;
  z-index: 1;
}

.logo { float: left; }

h1 a {
  width: 131px;
  display: block;
  line-height: 50px;
}

.hambur {
  width: 40px;
  height:40px;
  display: none;
  position: absolute;
} 

nav input {
  width: 42px;
  height: 42px;
  display: none;
  cursor: pointer;
  opacity: 0;
}

.hambur span{
  width: 30px;
  height: 4px;
  border-radius: 3px;
  margin-bottom: 5px;
  display: block;
  position: absolute;
  top:20px;
  left:4px;
  background: #cdcdcd;
  transition: transform,width 0.3s ease,0.3s ease;  
}
.hambur span::before,
.hambur span::after{
  content: '';
  width: 30px;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  top: -10px;
  background: #cdcdcd;
  transition: width 0.3s ease;
}
.hambur span::after{
  top: 10px;
}

/* Logo styling ends */
/* Nav stylings starts */
nav { float: right; }

.menu>li>a {
  padding: 8px 9px 9px;
  margin-left: 9px;
  position: relative;
  color: #ffffff;
  font-size: 9px;
  font-weight: bold;
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 35px;
  letter-spacing: 1px;
}

.menu>li:nth-child(1)>a {
  padding-right: 12px;
  color: #feac00;
}

.menu li a:hover ,
.menu>li:nth-child(3)>a:hover::after,
.social li a:hover::before {
  color: #feac00;
}

.menu>li:nth-child(3)>a::after {
  content: "\f107";
  padding-left: 5px;
  color: #ffffff;
  font: 900 11px "Font Awesome 5 Free";
}

.menu>li:nth-child(3) {  position: relative; }

.menu>li:nth-child(3):hover  .dropdown {
  display: block;
  position: absolute;
  top: 40px;
  left: 10px;
}

.dropdown li {
  padding: 9px;
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.dropdown li a { color: #ffffff;}

.social { padding-left: 10px; }

.social li a { text-indent: -9999px; }

.social li a::before {
  padding: 4px 6px 0;
  float: right;
  color: #ffffff;
  font: 100 13px "Font Awesome 5 Brands";
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-indent: 0;
}

.social li:nth-child(1) a::before { content:"\f082"; }

.social li:nth-child(2) a::before {  content:"\f099"; }

.social li:nth-child(3) a::before {  content:"\f16d"; }

/* Nav stylings ends */

nav input,
.hambur,
.dropdown {  display: none; }





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styling starts */
.banner {
  height: 568px;
  background-image: linear-gradient(rgba( 0, 0, 0, .6),rgba( 0, 0, 0, .6)), url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner{ position: relative; }

h2 {
  width: 44%;
  position: absolute;
  top: 42%;
  left: 27%;
  color: #ffffff;
  font-size: 46px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  word-spacing: 3px;
}

/* banner styling ends */
/* services_info styling starts */

.services_info {  padding-top: 68px; }

.services_info figure {
  width: 46.8%;
  padding-bottom: 35px;
  margin-right: -4px;
  margin-left: 10px;
  display: inline-block;
}

.services_content {
  width: 47%;
  margin-right: -4px;
  margin-left: 21px;
  display: inline-block;
  vertical-align: top;
}

.services_content h3 {
  padding-bottom: 22px;
  font-size: 17px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 26px;
}

.services_content a {
  padding: 13px 18px;
  border-radius: 3px;
  background-color: #feac00;
  color: #000000;
  font-size: 10px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.services_content a:hover{
  background-color: #8f8e8f;
  color: #ffffff;
}

.info {
  padding: 48px 0 84px;
  border-top: 1px solid #e3e3e3;
}

.info ul li {
  width: 33%;
  margin-right:-4px;
  display: inline-block; 
}

.info ul li span {
  width: 18%;
  margin-right: 8%;
  display: inline-block;
  text-indent: -9999px;
 }

 .icons1::after,
 .icons2::after,
 .icons3::after { 
   float:  right;
   color: #feac00;
   font-family: "Font Awesome 5 Free";
   font-size: 17px;
   font-weight: 900;
   text-indent: 0;
 }

 .icons1::after {
  content:"\f072";
 }

 .icons2::after {
  content:"\f108";
 }

 .icons3::after {
  content:"\f2b5";
 }
 

.info ul li div {
  width: 65%;
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}

.info li div h4 {
  padding-bottom: 10px;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.info li div p {
  color: #8f8e8f;
  font-size: 10px;
  font-weight: bold;
  line-height: 20px;
}


.info li:nth-child(1) span {  content:"\f099"; } 

.info li:nth-child(2) span { content:"\f0ac"; } 

.info li:nth-child(3) span { content:"\f0ac"; } 


/* services_info styling ends */

/* we_provide  styling starts */
.we_provide {
  padding: 86px 0 86px;
  background-image: linear-gradient(rgba( 0, 0, 0, .6),rgba( 0, 0, 0, .6)), url(../img/banner4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.we_provide .wrapper {
  max-width: 1351px;
  width: 58.5%;
  margin: 0 auto;
}

.we_provide h3 {
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.we_provide h3 span { color: #feac00; }

.description {
  width:37%;
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}

.description p {
  padding: 11px 0 13px;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 20px;
}

figure img { border-radius: 3px; }
.we_provide ul {
  width: 53%;
  padding-top: 14px;
  margin-right: -4px;
  margin-left: 5.8%;
  display: inline-block;
  vertical-align: top;
}

.we_provide ul li {
  width: 50%;  
  padding-bottom: 54px;
  margin-right: -4px;
  color: #ffffff;
}

.we_provide li div h4 {
  padding-bottom: 13px;
  font-size: 13px;
  font-weight: bold;
  word-spacing: 5px;
}

.we_provide li div p {
  color: #b3b3b3;
  font-size: 12px;
  line-height: 20px
}

.icon1,
.icon2,
.icon3,
.icon4 {
  width:10%;
  margin-right: -4px; 
  display: inline-block;
  vertical-align: top;
  text-indent: -9999px;
}

.icon1+div,
.icon2+div,
.icon3+div,
.icon4+div {
  width:79%;
  margin-right: -4px;
  margin-left: 12%;
  display: inline-block;
  vertical-align: top;
}


.icon1::after,
.icon2::after,
.icon3::after,
.icon4::after {
  float:  right; 
  color: #ffffff;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 900;
  text-indent: 0;
 }

 .icon1::after { content:"\f1fc"; }

.icon2::after { content:"\f007"; }

 .icon3::after { content:"\f004"; }

 .icon4::after { content:"\f0eb"; }
/* we_provide styling ends */


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  padding: 63px 0 30px;
  background-color: #222222;
}

footer .wrapper {
  max-width: 1351px;
  width: 58.5%;
  margin: 0 auto;
}


/* Infinitude styling starts */
.infinitude,
.quicklinks, 
address {
  width: 30%;
  margin-right: -4px;
  display: inline-block;
  vertical-align: top;
}

h5 {
  padding: 3px 0 19px;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

.infinitude p{
  color: #686868;
  font-size: 10px;
  line-height: 18px;
}

.quicklinks, 
address {  margin-left: 3.5%; }

.infinitude p:last-of-type{
  padding: 11px 0 16px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize; 
}

.infinitude p:last-of-type span{ color: #feac00; }


.social1 li a { text-indent: -9999px; }

.social1 li a::before {
  padding: 4px 6px 0;
  float: right;
  color: #ffffff;
  font: 100 10px "Font Awesome 5 Brands";
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-indent: 0;
}

.social1 li:nth-child(1) a::before { content:"\f39e"; }

.social1 li:nth-child(2) a::before {  content:"\f099"; }

.social1 li:nth-child(3) a::before {  
  content:"\f001";
  font: 900 13px "Font Awesome 5 Free";

}

.social1 li:nth-child(4) a::before {  content:"\f0d2"; }

.social1 li:nth-child(5) a::before {  content:"\f0d5"; }

.social1 li a:hover::before { color: #feac00; }
/* Infinitude styling ends */ 

/* quicklinks styling starts */
.quicklinks{
  padding-bottom: 50px; 
}

.quicklinks span,
address span {
  padding: 0 0 21px 15px;
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

.quicklinks ul {
  width: 45%;
  margin-right: -4px;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
}

.quicklinks ul li {
  padding: 5px 0;
  display: block;
}

.quicklinks ul li a{
  color: #686868;
  font-size: 10px;
  -webkit-transition: all .3s ease-in-out; 
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-transform: capitalize;
}

.quicklinks ul li a::before {
  content:"\f101";
  padding-right: 4px;
  color: #686868;
  font: 900 10px "Font Awesome 5 Free";
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.quicklinks ul li a:hover::before ,
.quicklinks ul li a:hover { color: #ffffff; }
/* quicklink styling ends */

/* address styling starts */
address span { padding-bottom: 18px;}

address p {
  color: #686868;
  font-size: 10px;
  text-transform: capitalize;
  line-height: 20px;
  word-spacing: 2px;
}

address p::before {
  content:"\f041";
  padding-right: 5px;
  color: #686868;
  font: 900 10px "Font Awesome 5 Free";
}

address ul li {
  padding: 8px 0;
  display: block;
}

address ul li a {
  color: #686868;
  font-size: 10px;
  -webkit-transition: all .3s ease-in-out; 
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


address ul li a::before {
  padding-right: 6px;
  color: #686868;
  font: 900 10px "Font Awesome 5 Free";
}

address ul li a:hover,
address ul li a:hover::before{ color: #ffffff; }

address ul li:nth-child(1) a::before { content:"\f095";}

address ul li:nth-child(2) a::before { content:"\f098";}

address ul li:nth-child(3) a::before { content:"\f01c";}

/* address styling ends */

/* copy section starts */
.copy {
  padding: 14px 0 5px;
  border-top: 1px solid #2c2c2c;
}

.copy p {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
}

.copy a {
  float: right;
  text-indent: -9999px;
  padding: 5px;
}
.copy a::before {
  content:"\f102";
  float: right;
  color: #686868;
  font: 900 10px "Font Awesome 5 Free";
  -webkit-transition: color .3s ease-in-out; 
  -o-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  text-indent: 0;
}

.copy a:hover::before { color: #ffffff; }
/* copy section ends */
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1028px starts here*/
@media only screen and (max-width: 1028px) {
  .menu>li>a {
    padding: 4px 5px 5px;
  }
}  

/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .logo {
    width: 80%;
    display: block;
  }

  .logo h1 {
    width: 50%;
    margin: 0 0 0 auto;
  }
  nav {
    width: 100%;
    display: block;
  }

  .hambur {
    display: block;
    z-index: 5;
    top: 6%;
    right: 6%;
  }

  nav input {
    display: block;
    position: absolute;
    z-index: 6;
    top: 6%;
    right: 6%;
    opacity: 0;
  }

  .menu {
    width: 70%;
    display: block;
    position: absolute;
    top: -400px;
    transition: top 0.5s ease;
  } 

  input:checked ~.menu {
    top: 45px;
  }

  input:checked +.hambur>span{ transform: rotate(315deg); }

  input:checked +.hambur>span::before,
  input:checked +.hambur>span::after{
    top: 0;
    transform: rotate(90deg);
  }

  .menu>li {
    width: 100%;
    display: block;
    background-color: rgba(34, 34, 34, .6);
    text-align: center;
  }

  .menu li a:hover ,
  .menu>li:nth-child(3)>a:hover::after,
  .social li a:hover::before { color: white; }

  .menu>li:nth-child(1)>a:hover{ color: #feac00; }

  .services_content a:hover{
    background-color: #feac00;
    color: #000000;
  }

  .social1 li a:hover::before { color: #ffffff; }

  .copy a:hover::before,
  .quicklinks ul li a:hover::before ,
  .quicklinks ul li a:hover,
  address ul li a:hover,
  address ul li a:hover::before { color: #686868; }
}  

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {
  .services_info figure,
  .services_content,
  .info ul li,
  .description,
  .we_provide ul 
  {
    display: block;
    width: 100%
  }

  .description,
  .info ul li,
  .services_content { padding-bottom: 15px; }

  .we_provide { padding-bottom: 50px; }
}

/*media query for 540px starts here*/
@media only screen and (max-width: 540px) { 
  .infinitude,
  .quicklinks,
  address
  {
    display: block;
    width: 100%;
  }

  h2 { 
    width: 50%;
    font-size: 25px;
  }

  .infinitude { padding-bottom: 25px;}
}
